<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="link00_name" value="base_link" />
    <xacro:property name="link01_name" value="link_01" />
    <xacro:property name="link02_name" value="link_02" />
    <xacro:property name="link03_name" value="link_03" />
    <xacro:property name="link04_name" value="link_04" />
    <xacro:property name="link05_name" value="link_05" />
    <xacro:property name="link06_name" value="link_06" />
    <xacro:property name="link07_name" value="link_07" />
    <xacro:property name="m_meshscale" value="0.001 0.001 0.001" />

	<xacro:property name="max_effort" value="1000" />
</robot>
