<?xml version="1.0"?>

<robot name="iiwa" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find iiwa_description)/urdf/iiwa_macros.xacro" />
<xacro:include filename="$(find iiwa_description)/urdf/iiwa_parameters.xacro" />

    <m_link_mesh    name="${link00_name}"
                    origin_xyz="0 0 0" origin_rpy="0 0 0"
                    meshfile="package://iiwa_description/meshes/link0-binary.stl"
                    meshscale="${m_meshscale}"
                    mass="1000.0"
                    ixx="200" ixy="0" ixz="0" iyy="200" iyz="0" izz="200"/>

    <m_joint    name="${link00_name}__${link01_name}"
                type="revolute"
                axis_xyz="0 0 1"
                origin_xyz="0 0 0" origin_rpy="0 0 0"
                parent="${link00_name}" child="${link01_name}"
                limit_e="1000.0" limit_l="-2.967" limit_u="2.967" limit_v="1.483" />

    <m_link_mesh    name="${link01_name}"
                    origin_xyz="0 0 0" origin_rpy="0 0 0"
                    meshfile="package://iiwa_description/meshes/link1-binary.stl"
                    meshscale="${m_meshscale}"
                    mass="1000.0"
                    ixx="200" ixy="0" ixz="0" iyy="200" iyz="0" izz="200" />

    <m_joint    name="${link01_name}__${link02_name}"
                type="revolute"
                axis_xyz="0 1 0"
                origin_xyz="0 0 0.36" origin_rpy="0 0 0"
                parent="${link01_name}" child="${link02_name}"
                limit_e="1000.0" limit_l="-2.094" limit_u="2.094" limit_v="1.483" />

    <m_link_mesh    name="${link02_name}"
                    origin_xyz="0 0 -0.36" origin_rpy="0 0 0"
                    meshfile="package://iiwa_description/meshes/link2-binary.stl"
                    meshscale="${m_meshscale}"
                    mass="1000.0"
                    ixx="200" ixy="0" ixz="0" iyy="200" iyz="0" izz="200" />

    <m_joint    name="${link02_name}__${link03_name}"
                type="revolute"
                axis_xyz="0 0 1"
                origin_xyz="0 0 0" origin_rpy="0 0 0"
                parent="${link02_name}" child="${link03_name}"
                limit_e="1000.0" limit_l="-2.967" limit_u="2.967" limit_v="1.745" />

    <m_link_mesh    name="${link03_name}"
                    origin_xyz="0 0 -0.36" origin_rpy="0 0 0"
                    meshfile="package://iiwa_description/meshes/link3-binary.stl"
                    meshscale="${m_meshscale}"
                    mass="1000.0"
                    ixx="200" ixy="0" ixz="0" iyy="200" iyz="0" izz="200" />

    <m_joint    name="${link03_name}__${link04_name}"
                type="revolute"
                axis_xyz="0 1 0"
                origin_xyz="0 0 0.42" origin_rpy="0 0 0"
                parent="${link03_name}" child="${link04_name}"
                limit_e="1000.0" limit_l="-2.094" limit_u="2.094" limit_v="1.309" />

    <m_link_mesh    name="${link04_name}"
                    origin_xyz="0 0 -0.78" origin_rpy="0 0 0"
                    meshfile="package://iiwa_description/meshes/link4-binary.stl"
                    meshscale="${m_meshscale}"
                    mass="1000.0"
                    ixx="200" ixy="0" ixz="0" iyy="200" iyz="0" izz="200" />

    <m_joint    name="${link04_name}__${link05_name}"
                type="revolute"
                axis_xyz="0 0 1"
                origin_xyz="0 0 0" origin_rpy="0 0 0"
                parent="${link04_name}" child="${link05_name}"
                limit_e="1000.0" limit_l="-2.967" limit_u="2.967" limit_v="2.269" />

    <m_link_mesh    name="${link05_name}"
                    origin_xyz="0 0 -0.78" origin_rpy="0 0 0"
                    meshfile="package://iiwa_description/meshes/link5-binary.stl"
                    meshscale="${m_meshscale}"
                    mass="1000.0"
                    ixx="200" ixy="0" ixz="0" iyy="200" iyz="0" izz="200" />

    <m_joint    name="${link05_name}__${link06_name}"
                type="revolute"
                axis_xyz="0 1 0"
                origin_xyz="0 0 0.4" origin_rpy="0 0 0"
                parent="${link05_name}" child="${link06_name}"
                limit_e="1000.0" limit_l="-2.094" limit_u="2.094" limit_v="2.356" />

    <m_link_mesh    name="${link06_name}"
                    origin_xyz="0 0 -1.18" origin_rpy="0 0 0"
                    meshfile="package://iiwa_description/meshes/link6-binary.stl"
                    meshscale="${m_meshscale}"
                    mass="1000.0"
                    ixx="200" ixy="0" ixz="0" iyy="200" iyz="0" izz="200" />

    <m_joint    name="${link06_name}__${link07_name}"
                type="revolute"
                axis_xyz="0 0 1"
                origin_xyz="0 0 0" origin_rpy="0 0 0"
                parent="${link06_name}" child="${link07_name}"
                limit_e="1000.0" limit_l="-3.054" limit_u="3.054" limit_v="2.356" />

    <m_link_mesh    name="${link07_name}"
                    origin_xyz="0 0 -1.18" origin_rpy="0 0 0"
                    meshfile="package://iiwa_description/meshes/link7-binary.stl"
                    meshscale="${m_meshscale}"
                    mass="1000.0"
                    ixx="200" ixy="0" ixz="0" iyy="200" iyz="0" izz="200" />

	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
		</plugin>
	</gazebo>

</robot>
